<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>SeaJS - 调用模板演示</title>
</head>
<body>
<div id="doc">loading..</div>

<script>window.TPL = "__TPL__";</script>
<script src="__PUBLIC__/assets/pages/plugins/seajs/sea-debug.js"></script>
<script src="__TPL__/lib/loader/loader-config.js"></script>
<script src="__PUBLIC__/assets/pages/plugins/jquery/jquery.js"></script>

<script>
    seajs.use('_service/index', function(data){
        data.getData(function(data, require, exports, module){
            require.async(['Home/Index/build/index.js'], function (template) {
                document.getElementById('doc').innerHTML = template('index', data);
            });
        });
    });

</script>
</body>
</html>



